.lottie-mb	{display: none}

@media (max-width: 1345px) 
{
	.slide.entertainment .panel-container-text h2 strong	{font-size: 7.8vw}

}

@media (max-width: 1300px) 
{
	.home-listing			{padding: 4vh 37px }

}

@media (max-width: 1200px) 
{
	.column-text	{width: 60%;}
	.column-quote	{width: 40%; padding-right: 40px;}
	
	.video-hero-container .article-hero-text h1	{font-size: 70px;}
}

@media (max-width: 1170px) 
{
	.home-listing h1		{font-size: 9vw}
	.home-listing h1 strong	{font-size: 9.5vw}
	
	.panel-container-text h2	{font-size: 70px;}
	.panel-container-text h3	{font-size: 28px;}
	.panel-container-text p		{font-size: 20px;}
	
}

@media (max-width: 960px) 
{
	.home-listing h1					{padding-left: 0}
	.home-listing						{justify-content: flex-start}
	.listing-carousel-container			{flex: 1; flex-shrink: 0; display: flex; position: relative;}
	.listing-carousel-container	.inner	{height: auto}
	.listing-carousel,
	.listing-carousel .slick-list,
	.listing-carousel .slick-track		{height: 100%}
	.panel-container					{padding: 30px; display: flex; align-items: flex-end}
	
	.home-listing .slide	{margin:0 10px;}
	
	.blockquote-container p	{font-size: 30px;}
	
	.related-articles .panel-container	{height: 640px;}
	.related-articles .panel-container:before	{width: 100%;}
}

@media (max-width: 880px) 
{
	.article-cols	{flex-direction: column; width: 700px; max-width: 100%; margin: 0 auto; padding-left: 20px; padding-right: 20px;}
	.column-text	{width: 100%; padding-right: 0;}
	.column-quote	{width: 100%; padding-right: 0; margin-bottom: 3em}
	.column-quote .blockquote-container	{width: 100%; padding-left: 40px; padding-right: 40px;}
	.column-image	{margin: 2em 0}
	
	.article-cols.article-cols--text-quote .column-quote	{padding: 0; margin-top: 0; margin-bottom: 3em;}
	.article-cols.article-cols--text-quote .column-text		{margin-bottom: 3em}
	
	.article-cols.article-cols--circle-text .column-image	{padding: 0; margin-top: 0; margin-bottom: 3em;}
	
	.article-cols.article-cols--text-image .column-image	{padding: 0; margin-top: 1em; margin-bottom: 3em;}

	.article-cols.article-cols--circle-text .column-text	{padding-left: 0; padding-right: 0;}
	
	.article-cols.article-cols--circle-text.flipped			{flex-direction: column-reverse}
	
	.blockquote-container				{padding-left: 40px; padding-right: 40px;}
	.blockquote-container .quotemark	{position: relative; left: auto; top: auto; margin-bottom: 20px;}
	
	.column-quote, .column-image {position: relative; top: auto;}
	
}

@media (max-width: 768px) 
{
	.panel-container-text h2		{font-size: 44px;}
	.panel-container-text h2 strong {font-size: 56px;}
	
	.related-articles .panel-container-text h3,
	.panel-container-text h3	{font-size: 19px;}
	.panel-container-text p		{font-size: 16px;}
	.panel-container:before		{top: auto; bottom: 0; height: 70%; width: 100%; background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);}
	.panel-container .btn		{font-size: 16px;}

	.slide .btn-outer			{width: 175px;}
	.panel-container .btn		{height: 42px;}
	
	.home-icon		{top: 118px; width: 30px; height: 30px;}
	.home-icon svg	{width: 14px;}
	.home-icon:hover:after	{left: 40px;}
	
	.related-articles .panel-container:before	{width: 100%; height: 100%}

	.full-image-container-image	{background-attachment: inherit}
	
	article.video-page	{padding: 10px 0}
}

@media (max-width: 640px) 
{
	.home-listing h1		{font-size: 44px;}
	.home-listing h1 strong	{font-size: 48px;}
	.panel-container		{padding: 20px;}
	
	/* ARTICLE */
	.video-hero-container .article-hero-text h1,
	.article-hero-text h1	{font-size: 52px;}
	.article-hero-text p	{font-size: 20px; line-height: 1.3em}
	
	.standfirst		{margin-top: 10px;}
	.standfirst p	{font-size: 20px;}
	.standfirst .line	{margin-top: 10px;}
	article p			{font-size: 16px;}
	
	.video-hero-container						{flex-direction: column-reverse; padding-bottom: 60px;}
	.video-hero-container .article-hero-text	{padding: 30px 0 0 0;}
	
	.date-time-video	{width: 255px;}
	
	.article-cols.article-cols--circle-text.flipped .column-image	{margin: 2em 0}
	.article-cols.article-cols--text-quote .column-text,
	.article-cols.article-cols--text-quote .column-quote,
	.article-cols.article-cols--circle-text .column-image,
	.article-cols.article-cols--text-image .column-image	{margin-bottom: 2rem}
	
	.carousel-nav		{width: 150px;}
	.carousel-nav .slick-arrow.slick-next:hover	{right: 0;}
	.carousel-nav .slick-arrow.slick-prev:hover	{left: 0;}
	
	#content .fic-header	{left: 20px;}
	#content .fic-header h2	{font-size: 50px;}
	
	.panel-container.entertainment .panel-container-text h2 strong,
	.slide.entertainment .panel-container-text h2 strong	{font-size: 7vw}
	
	/* FOOTER */
	.pif-footer			{padding: 40px;}
	.pif-footer-inner p	{font-size: 18px; margin-bottom: 10px;}
}

@media (max-width: 530px) 
{
	.carousel-nav					{width: 85px; bottom: 0}
	.carousel-nav ul.custom_paging	{font-size: 18px;}
	.carousel-nav .slick-arrow		{width: 15px; height: 23px; padding-left: 0; padding-right: 0; background-size: cover; top:-3px}
}

@media (max-width: 500px) 
{
	.panel-container-text h2		{font-size: 43px;}
	.panel-container-text h2 strong {font-size: 50px;}
	
	.home-listing {min-height: calc(100vh - 118px);}
	.panel-container-text h3							{margin-bottom: 20px;}
	.listing-carousel .slide .panel-container-text p	{display: none}
	.listing-carousel .panel-container					{padding-bottom: 55px;}
	.home-header	{margin-bottom: 25px;}
	
	.quotemark:before,
	.quotemark:after			{width: 30.5px; height: 40.5px;}
	.blockquote-container p		{font-size: 22px;}
	.blockquote-container cite	{font-size: 13px;}
	.blockquote-container		{margin: 3em 0}
	
	.blockquote-container .quotemark,
	.column-quote .blockquote-container .quotemark	{height: 40px; margin-bottom: 15px;}
	
	.column-quote	{margin-bottom: 2em}
	.column-image	{margin-bottom: 0}
	
	#content article h2	{font-size: 35px;}
	
	.full-image-container.mt	{margin-top: 2em }
	.infographic-container	{margin: 3em 0}
	.full-image-container	{margin-bottom: 3em}
	
	.cta-container .btn	{height: 65px; font-size: 25px;}

	.article-hero-container	{height: 60vh; min-height: 500px;}
	
	.related-articles					{padding: 30px 0 40px}
	.related-articles .panel-container	{min-height: 500px;}
	.related-articles h3				{font-size: 40px; margin-bottom: 0.75em}
	.related-articles .carousel-nav		{margin-top: 40px;}
	
	
	.full-image-container	{min-height: auto; height: 100vw}
	.article-hero-text		{padding-left: 20px; padding-right: 20px; padding-bottom: 65px;}
	.date-time p			{font-size: 14px;}
	.date-time				{max-width: calc(100% - 40px);}
	
}

@media (max-width: 460px) 
{
	.home-listing			{padding: 30px 20px}
	.home-listing h1		{font-size: 40px;}
	.home-listing h1 strong	{font-size: 44px;}
	.panel-container		{padding: 20px;}
	
	.panel-container-text h2		{font-size: 40px;}
	.panel-container-text h2 strong {font-size: 46px;}

	#content .fic-header	{bottom: 20px;}
	#content .fic-header h2	{font-size: 40px;}

	
}

@media (max-width: 400px) 
{
	.home-listing h1			{font-size: 30px}
	.home-listing h1 strong		{font-size: 34px}
	.panel-container-text h2	{font-size: 36px;}
	.panel-container-text h2 strong {font-size: 42px;}
	.panel-container-text h3	{font-size: 15px;}
	.panel-container .btn		{font-size: 14px;}

	.date-time				{max-width: calc(100% - 40px); padding-left: 10px; padding-right: 10px;}
	.date-time p			{font-size: 12px;}
	.date-time p svg		{display: none}

	.article-hero-text h1	{font-size: 40px;}
	.article-hero-text p	{font-size: 17px;}
	.article-hero-text		{padding-bottom: 60px;}
	
	.video-hero-container .article-hero-text h1	{font-size: 40px;}
	
	
}

@media (max-width: 370px) 
{
	.panel-container-text h2	{font-size: 26px;}
	.panel-container-text h2 strong {font-size: 30px;}
}

@media (min-height: 1000px) and (min-width:1150px) {
	
	.home-listing h1			{font-size: 100px;}
	.home-listing h1 strong		{font-size: 130px;}
	
	.panel-container-text h2		{font-size: 78px;}
	.panel-container-text h2 strong	{font-size: 100px;}
	.panel-container-text h3		{font-size: 32px;}
	.panel-container-text p			{font-size: 22px;}
}



