



/* FOR SHALLOW SCREENS */
@media screen and (min-width: 768px) and (max-height: 800px) {
    
}

@media (max-width: 767px) {

    .article-hero-container {min-height: 50vh; height: 50vh;}
    
    #tvn-content .article-heading h1    {font-size: 30px;}
    #tvn-content .article-inner .standfirst p   {font-size: 16px;}
    
    .article-hero-container, 
    #tvn-content .article-heading    {margin-bottom: 50px;}

    #tvn-content .related-articles h2   {font-size: 25px;}
    
    .related-articles h3    {font-size: 30px; margin-bottom: 0.9em}
    
    .article-inner .btn {margin: 80px auto;}

    .button {display: flex; justify-content: center}
    
}






