@font-face {
    font-family: 'TWK Lausanne 300';
    src: url('TWKLausanne-300.woff2') format('woff2'),
        url('TWKLausanne-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne 300';
    src: url('TWKLausanne-300Italic.woff2') format('woff2'),
        url('TWKLausanne-300Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne 600';
    src: url('TWKLausanne-600.woff2') format('woff2'),
        url('TWKLausanne-600.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne 600';
    src: url('TWKLausanne-600Italic.woff2') format('woff2'),
        url('TWKLausanne-600Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne 800';
    src: url('TWKLausanne-800.woff2') format('woff2'),
        url('TWKLausanne-800.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne 800';
    src: url('TWKLausanne-800Italic.woff2') format('woff2'),
        url('TWKLausanne-800Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

